# Exodus wallet Transaction history Analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Convert into a pandas dataframe
data = pd.read_csv('exodus_0-all-txs-2024-09-20_21-17-11 - Copy.csv')

In [6]:
display(data)

,DATE,TYPE,FROMPORTFOLIO,TOPORTFOLIO,OUTAMOUNT,OUTCURRENCY,FEEAMOUNT,FEECURRENCY,TOADDRESS,OUTTXID,OUTTXURL,INAMOUNT,INCURRENCY,INTXID,INTXURL,ORDERID,PERSONALNOTE,Unnamed: 17
0,2021-06-16T23:12:10.000Z,deposit,NaN,exodus_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.836530,ADA,f655a2b5600b9dd3c5b4b84583974e95310f5ca9620682...,https://cardanoscan.io/transaction/f655a2b5600...,NaN,NaN,NaN
1,2021-06-16T23:15:31.000Z,deposit,NaN,exodus_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,275.614078,ADA,a984eff21ae88ec946ba49ae95f4cbfe602609b13ba21c...,https://cardanoscan.io/transaction/a984eff21ae...,NaN,NaN,NaN
2,2021-06-16T23:16:15.000Z,deposit,exodus_0,NaN,NaN,NaN,-2.212951,ADA,addr1q8vz0dy60rv8h6xzgp8nvmj4hrqn4xa7gglcknh4y...,NaN,NaN,0.000000,ADA,b0b06e2312e3400531cc92db8f4f92130696142a9179bd...,https://cardanoscan.io/transaction/b0b06e2312e...,NaN,NaN,NaN
3,2021-06-16T23:25:35.000Z,deposit,NaN,exodus_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007269,BTC,3887ccac569fe362522262a16b7b5b7cee1186f1fbe86d...,https://mempool.space/tx/3887ccac569fe36252226...,NaN,NaN,NaN
4,2021-06-16T23:26:01.000Z,deposit,NaN,exodus_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.281334,ETH,0xa41a776986043b79fe9d4df56b079b42ce4c8e5be5cb...,https://etherscan.io/tx/0xa41a776986043b79fe9d...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,2024-09-05T16:21:16.000Z,withdrawal,exodus_0,NaN,-0.083239,ETH,-0.000109,ETH,0xb06e803c1e271900f726f23a5cb52d860b40dc4d,0xcd660e3ee75a3525a67ab1547fa2bd147b9f6ee64fbf...,https://etherscan.io/tx/0xcd660e3ee75a3525a67a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2024-09-09T19:28:22.000Z,withdrawal,exodus_0,NaN,-0.003455,BTC,-0.000007,BTC,36eKPK5JP1v2TcF3J6wnV4hZiNrJKU2Rau,79e6589922449ed3b094109b4a983114cf8b1b92bbd4a5...,https://mempool.space/tx/79e6589922449ed3b0941...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2024-09-19T21:24:34.000Z,withdrawal,exodus_0,NaN,0.000000,ETH,-0.002218,ETH,0xd523794c879d9ec028960a231f866758e405be34,0x35d9d10cf752754549e5288b74248140d2e5b045a77f...,https://etherscan.io/tx/0x35d9d10cf752754549e5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2024-09-20T00:18:09.000Z,withdrawal,exodus_0,NaN,-0.001054,BTC,-0.000006,BTC,36eKPK5JP1v2TcF3J6wnV4hZiNrJKU2Rau,d6c0c486d4593edbdc70b29b10953b66e839b4575cf1b5...,https://mempool.space/tx/d6c0c486d4593edbdc70b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2024-09-20T00:18:10.000Z,withdrawal,exodus_0,NaN,0.000000,BTC,-0.000015,BTC,bc1qzn9gujtcguve7tmfu6qq7vljmn9jv0qrr4cn8w,58663271958f5c2568ea5a3b8de8fae9bc07fa85ae3234...,https://mempool.space/tx/58663271958f5c2568ea5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data['OUTAMOUNT'] = data['OUTAMOUNT'].fillna(0)

In [10]:
display(data)

,DATE,TYPE,FROMPORTFOLIO,TOPORTFOLIO,OUTAMOUNT,OUTCURRENCY,FEEAMOUNT,FEECURRENCY,TOADDRESS,OUTTXID,OUTTXURL,INAMOUNT,INCURRENCY,INTXID,INTXURL,ORDERID,PERSONALNOTE,Unnamed: 17
0,2021-06-16T23:12:10.000Z,deposit,NaN,exodus_0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.836530,ADA,f655a2b5600b9dd3c5b4b84583974e95310f5ca9620682...,https://cardanoscan.io/transaction/f655a2b5600...,NaN,NaN,NaN
1,2021-06-16T23:15:31.000Z,deposit,NaN,exodus_0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,275.614078,ADA,a984eff21ae88ec946ba49ae95f4cbfe602609b13ba21c...,https://cardanoscan.io/transaction/a984eff21ae...,NaN,NaN,NaN
2,2021-06-16T23:16:15.000Z,deposit,exodus_0,NaN,0.000000,NaN,-2.212951,ADA,addr1q8vz0dy60rv8h6xzgp8nvmj4hrqn4xa7gglcknh4y...,NaN,NaN,0.000000,ADA,b0b06e2312e3400531cc92db8f4f92130696142a9179bd...,https://cardanoscan.io/transaction/b0b06e2312e...,NaN,NaN,NaN
3,2021-06-16T23:25:35.000Z,deposit,NaN,exodus_0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.007269,BTC,3887ccac569fe362522262a16b7b5b7cee1186f1fbe86d...,https://mempool.space/tx/3887ccac569fe36252226...,NaN,NaN,NaN
4,2021-06-16T23:26:01.000Z,deposit,NaN,exodus_0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.281334,ETH,0xa41a776986043b79fe9d4df56b079b42ce4c8e5be5cb...,https://etherscan.io/tx/0xa41a776986043b79fe9d...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,2024-09-05T16:21:16.000Z,withdrawal,exodus_0,NaN,-0.083239,ETH,-0.000109,ETH,0xb06e803c1e271900f726f23a5cb52d860b40dc4d,0xcd660e3ee75a3525a67ab1547fa2bd147b9f6ee64fbf...,https://etherscan.io/tx/0xcd660e3ee75a3525a67a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2024-09-09T19:28:22.000Z,withdrawal,exodus_0,NaN,-0.003455,BTC,-0.000007,BTC,36eKPK5JP1v2TcF3J6wnV4hZiNrJKU2Rau,79e6589922449ed3b094109b4a983114cf8b1b92bbd4a5...,https://mempool.space/tx/79e6589922449ed3b0941...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2024-09-19T21:24:34.000Z,withdrawal,exodus_0,NaN,0.000000,ETH,-0.002218,ETH,0xd523794c879d9ec028960a231f866758e405be34,0x35d9d10cf752754549e5288b74248140d2e5b045a77f...,https://etherscan.io/tx/0x35d9d10cf752754549e5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2024-09-20T00:18:09.000Z,withdrawal,exodus_0,NaN,-0.001054,BTC,-0.000006,BTC,36eKPK5JP1v2TcF3J6wnV4hZiNrJKU2Rau,d6c0c486d4593edbdc70b29b10953b66e839b4575cf1b5...,https://mempool.space/tx/d6c0c486d4593edbdc70b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2024-09-20T00:18:10.000Z,withdrawal,exodus_0,NaN,0.000000,BTC,-0.000015,BTC,bc1qzn9gujtcguve7tmfu6qq7vljmn9jv0qrr4cn8w,58663271958f5c2568ea5a3b8de8fae9bc07fa85ae3234...,https://mempool.space/tx/58663271958f5c2568ea5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN